#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    behaviors {
        #include "macros.dtsi"
      #include "version.dtsi"
      #ifndef VERSION_MACRO

        macro_ver: macro_ver {
            compatible = "zmk,behavior-macro";
            label = "macro_version";
            #binding-cells = <0>;
            bindings = <&kp RET>;
        };

        #endif

        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;

            quick-tap-ms = <75>;
        };

        //
        // Home row mod-tap keys for all except index fingers
        //

        homey_left: miryoku_hrm_left_hand {
            compatible = "zmk,behavior-hold-tap";
            label = "HOME_ROW_MODS_LEFT_HAND";
            flavor = "balanced";
            hold-trigger-key-positions = <7 8 9 10 11 12 13 21 22 23 24 25 26 27 39 40 41 42 43 44 45 54 55 56 57 58 59 71 72 73 74 75 35 36 52 65 66 67 37 38 53 68 69 70>;
            hold-trigger-on-release; // wait for other home row mods
            tapping-term-ms = <175>;
            quick-tap-ms = <160>;
            global-quick-tap; // with typing streak
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;
        };

        homey_right: miryoku_hrm_right_hand {
            compatible = "zmk,behavior-hold-tap";
            label = "HOME_ROW_MODS_RIGHT_HAND";
            flavor = "balanced";
            hold-trigger-key-positions = <0 1 2 3 4 5 6 14 15 16 17 18 19 20 28 29 30 31 32 33 34 35 36 46 47 48 49 50 51 52 60 61 62 63 64 65 66 67 37 38 53 68 69 70>;
            hold-trigger-on-release; // wait for other home row mods
            tapping-term-ms = <175>;
            quick-tap-ms = <160>;
            global-quick-tap; // with typing streak
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;
        };

        //
        // Special home row mod-tap keys for the index fingers
        //

        index_left: miryoku_hrm_left_index_shift {
            compatible = "zmk,behavior-hold-tap";
            label = "HOME_ROW_MODS_LEFT_INDEX_SHIFT";
            flavor = "tap-preferred";
            hold-trigger-key-positions = <7 8 9 10 11 12 13 21 22 23 24 25 26 27 38 39 40 41 42 43 44 45 54 55 56 57 58 59 69 70 71 72 73 74 75 37 38 53 68 69 35 36 52 65 66 67>;

            //hold-trigger-on-release; // don't wait for other mods

            tapping-term-ms = <180>;
            quick-tap-ms = <300>; // enable repeat
            //global-quick-tap; // no typing streak

            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;
        };

        index_right: miryoku_hrm_right_index_shift {
            compatible = "zmk,behavior-hold-tap";
            label = "HOME_ROW_MODS_RIGHT_INDEX_SHIFT";
            flavor = "tap-preferred";
            hold-trigger-key-positions = <0 1 14 15 16 17 18 19 20 28 29 30 31 32 33 34 35 36 46 47 48 49 50 51 52 60 61 62 63 64 65 66 67 2 3 4 5 6 37 37 38 53 68 69 70>;

            //hold-trigger-on-release; // don't wait for other mods

            tapping-term-ms = <180>;
            quick-tap-ms = <300>; // enable repeat
            //global-quick-tap; // no typing streak

            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;
        };

        //
        // Thumb cluster hold-tap keys for Miryoku layers
        //

        thumb: miryoku_thumb_layer {
            compatible = "zmk,behavior-hold-tap";
            label = "MIRYOKU_LAYER_TAP_WITH_REPEAT";
            flavor = "balanced";
            tapping-term-ms = <200>;
            quick-tap-ms = <300>; // enable repeat
            //global-quick-tap; // no typing streak

            #binding-cells = <2>;
            bindings = <&mo>, <&kp>;
        };

        mouse_td: tap_dance_1 {
            compatible = "zmk,behavior-tap-dance";
            label = "MOUSE_TAP_DANCE";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp DEL>, <&tog 4>;
        };

        mouse_hold: mouse_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "MOUSE_HOLD_TAP";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&mo>, <&mouse_td>;
        };

        layer_hold: layer_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_HOLD_TAP";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            bindings = <&mo>, <&tog>;
        };

        space_layer: space_layer {
            compatible = "zmk,behavior-hold-tap";
            label = "SPACE_LAYER";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;
            flavor = "balanced";
        };
    };

    macros {
        switchapps: switchapps {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCMD>,
                <&macro_tap>,
                <&kp TAB>,
                <&macro_tap>,
                <&sk LGUI>,
                <&macro_release>,
                <&kp LGUI>;

            label = "SWITCHAPPS";
            tap-ms = <35>;
            wait-ms = <80>;
        };

        toggletalon: toggletalon {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_tap>,
                <&kp F1>,
                <&macro_pause_for_release>,
                <&macro_release>;

            label = "TOGGLETALON";
        };

        vimmac: vimmac {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(LC(I))>, <&macro_release>;

            label = "VIMMAC";
        };

        clickleft: clickleft {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(LA(LC(LG(SPACE))))>, <&macro_release>;

            label = "CLICKLEFT";
        };

        clickright: clickright {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(LA(LC(LG(R))))>, <&macro_release>;

            label = "CLICKRIGHT";
        };

        launchbar: launchbar {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(SPACE)>, <&macro_release>;

            label = "LAUNCHBAR";
        };

        typ_rocket: typ_rocket {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SPACE &kp EQUAL &kp GT &kp SPACE>;
            label = "TYP_ROCKET";
        };

        typ_orderby: typ_orderby {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp O &kp R &kp D &kp E &kp R &kp SPACE &kp B &kp Y &kp SPACE>;
            label = "TYP_ORDERBY";
        };

        typ_update: typ_update {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp U &kp P &kp D &kp A &kp T &kp E &kp SPACE>;
            label = "TYP_UPDATE";
        };

        leaderkey: leaderkey {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(MINUS)>, <&macro_release>;

            label = "LEADERKEY";
        };

        mouseless: mouseless {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(LG(U))>;
            label = "MOUSELESS";
        };

        mouseless_toggle: mouseless_toggle {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(LG(H))>;
            label = "MOUSELESS_TOGGLE";
        };
    };

    combos {
        compatible = "zmk,combos";

        typ_from {
            bindings = <&typ_from>;
            key-positions = <33 44>;
        };

        typ_dont {
            bindings = <&typ_dont>;
            key-positions = <40 30>;
        };

        typ_rocket {
            bindings = <&typ_rocket>;
            key-positions = <67 68>;
        };

        typ_select {
            bindings = <&typ_select>;
            key-positions = <32 26>;
        };

        typ_where {
            bindings = <&typ_where>;
            key-positions = <55 44>;
        };

        typ_orderby {
            bindings = <&typ_orderby>;
            key-positions = <43 19>;
        };

        typ_update {
            bindings = <&typ_update>;
            key-positions = <24 16>;
        };

        nav-backward {
            bindings = <&kp LC(LS(TAB))>;
            key-positions = <16 17>;
        };

        nav-forward {
            bindings = <&kp LC(TAB)>;
            key-positions = <17 18>;
        };

        space-left {
            bindings = <&kp LA(LC(LEFT))>;
            key-positions = <71 72>;
        };

        space-right {
            bindings = <&kp LA(LC(RIGHT))>;
            key-positions = <72 73>;
        };

        launchbar {
            bindings = <&launchbar>;
            key-positions = <49 50>;
        };

        combo_launhbar {
            bindings = <&launchbar>;
            key-positions = <65 70>;
        };

        combo_homerow {
            bindings = <&kp LC(LG(SLASH))>;
            key-positions = <66 69>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        maltron {
            display-name = "Maltron";
            bindings = <
&mt F1 NUMBER_1                    &mt F2 NUMBER_2         &mt F3 NUMBER_3         &mt F4 NUMBER_4  &mt F5 N5        &mt F6 NUMBER_6              &launchbar                                                                                                              &switchapps           &mt F7 NUMBER_7              &mt F8 N8  &mt F9 N9  &mt F10 NUMBER_0   &mt F11 MINUS  &mt F12 EQUAL
&mt RS(LEFT_BRACKET) LEFT_BRACKET  &kp Q                   &kp P                   &kp Y            &lt 4 C          &kp B                        &mouseless                                                                                                              &none                 &kp V                        &kp M      &kp U      &kp Z              &kp L          &mt RS(RIGHT_BRACKET) RIGHT_BRACKET
&mt LS(LA(LC(LCMD))) ESCAPE        &kp A                   &kp N                   &kp I            &kp S            &index_left LG(LC(SLASH)) F  &vimmac           &homey_left LG(LC(LA(LSHFT))) BACKSPACE  &kp END            &kp LEFT_ARROW  &mt LS(LGUI) RIGHT_ARROW  &mkp LCLK             &mt RS(RG(J)) D              &kp T      &kp H      &kp O              &kp R          &mt RS(RA(RC(RIGHT_COMMAND))) SINGLE_QUOTE
&sk LSHIFT                         &kp COMMA               &kp PERIOD              &kp J            &mt RC(SPACE) G  &leaderkey                                                                              &kp PG_UP          &kp UP_ARROW                                                    &mt LA(SEMICOLON) SEMICOLON  &kp W      &kp K      &kp X              &mkp RCLK      &sk RIGHT_SHIFT
&caps_word                         &mt RS(PIPE) BACKSLASH  &mt LEFT_CONTROL GRAVE  &kp LGUI         &kp LALT                                      &space_layer 2 E  &thumb 5 TAB                             &kp PAGE_DOWN      &kp DOWN_ARROW  &thumb 5 ENTER            &space_layer 2 SPACE                               &kp RALT   &kp RGUI   &kp RIGHT_CONTROL  &kp SLASH      &mkp LCLK
            >;
        };

        qwerty {
            display-name = "qwerty";
            bindings = <
&trans  &trans              &trans               &trans              &trans               &trans                  &trans                                      &trans  &trans  &trans                &trans               &trans                &trans                       &trans
&trans  &kp Q               &kp W                &lt 4 E             &lt 4 R              &kp T                   &trans                                      &trans  &kp Y   &kp U                 &kp I                &kp O                 &kp P                        &trans
&trans  &homey_left LALT A  &homey_left LCTRL S  &homey_left LGUI D  &index_left LSHFT F  &kp G                   &trans  &trans  &trans      &trans  &trans  &trans  &kp H   &index_right RSHFT J  &homey_right RGUI K  &homey_right RCTRL L  &homey_right RALT SEMICOLON  &trans
&trans  &kp Z               &kp X                &kp C               &kp V                &mt LC(LA(NUMBER_3)) B                  &trans      &trans                  &kp N   &kp M                 &kp COMMA            &kp PERIOD            &kp SLASH                    &trans
&trans  &trans              &trans               &trans              &trans                                       &trans  &trans  &trans      &trans  &trans  &trans          &trans                &trans               &trans                &trans                       &trans
            >;
        };

        fn {
            display-name = "Fn";
            bindings = <
&kp F1         &kp F2          &kp F3           &kp F4          &kp F5                &kp F6         &tog 0                                                                              &mo 3             &kp F7         &kp F8                  &kp F9                   &kp F10      &kp F11          &kp F12
&kp LG(LC(S))  &kp RC(W)       &kp LC(LS(TAB))  &kp LC(T)       &kp LC(TAB)           &kp LC(LS(T))  &to 0                                                                               &kp RS(NUMBER_9)  &mt RS(F7) F7  &kp RA(RC(N9))          &kp LEFT_BRACKET         &kp LS(F11)  &kp LS(LG(F12))  &trans
&none          &kp LEFT_ARROW  &kp UP_ARROW     &kp DOWN_ARROW  &mt LEFT_SHIFT RIGHT  &kp PG_UP      &to 1       &kp LG(BACKSPACE)  &trans                 &trans             &kp RSHFT  &kp RC(F4)        &mt RS(F5) F5  &kp F9                  &kp F10                  &kp F11      &kp F12          &trans
&kp HOME       &kp HOME        &kp LC(HOME)     &kp LC(END)     &kp END               &kp PG_DN                                     &trans                 &trans                                          &mt LS(F7) F7  &trans                  &kp LS(F10)              &trans       &trans           &trans
&kp END        &kp RC(Z)       &kp LC(X)        &kp LC(C)       &kp LC(V)                            &kp DELETE  &kp LA(BACKSPACE)  &kp RC(BACKSPACE)      &kp LA(BACKSPACE)  &kp ENTER  &kp BACKSPACE                    &kp LC(LA(LEFT_ARROW))  &kp LC(LA(RIGHT_ARROW))  &trans       &kp BACKSLASH    &kp PIPE
            >;
        };

        mod {
            display-name = "Mod";
            bindings = <
&bt BT_CLR      &bt BT_SEL 0      &bt BT_SEL 1   &bt BT_SEL 2      &bt BT_SEL 3   &bt BT_SEL 4      &none                                                                                  &trans           &none                 &none                                   &none                       &none                           &none  &none
&none           &none             &kp LS(MINUS)  &kp EQUAL         &kp LS(EQUAL)  &kp LS(QUESTION)  &bootloader                                                                            &bootloader      &kp LEFT_PARENTHESIS  &mt RIGHT_PARENTHESIS LEFT_PARENTHESIS  &mt RIGHT_BRACE LEFT_BRACE  &mt RIGHT_BRACKET LEFT_BRACKET  &none  &none
&none           &kp LS(NUMBER_4)  &kp MINUS      &kp LS(NUMBER_6)  &kp LC(N0)     &kp QUESTION      &none        &kp LA(BACKSPACE)  &kp RC(BACKSPACE)      &trans  &rgb_ug RGB_MEFS_CMD 5  &kp KP_DIVIDE    &kp KP_DOT            &mt RIGHT_PARENTHESIS LEFT_PARENTHESIS  &mt RIGHT_BRACE LEFT_BRACE  &mt RIGHT_BRACKET LEFT_BRACKET  &none  &none
&none           &none             &none          &none             &kp RS(PIPE)   &kp PIPE                                          &none                  &none                                            &none                 &mt GREATER_THAN LESS_THAN              &mt LS(EQUAL) EQUAL         &mt LS(MINUS) MINUS             &none  &none
&studio_unlock  &none             &none          &none             &tog 3                           &kp DEL      &none              &none                  &none   &bl BL_TOG              &rgb_ug RGB_TOG                        &bl BL_INC                              &bl BL_DEC                  &none                           &none  &none
            >;
        };

        mouse_layer {
            display-name = "Mouse";
            bindings = <
&none  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &none                                                   &trans                  &none           &none            &none           &none            &none  &none
&none  &none         &none         &none         &none         &none         &bootloader                                             &bootloader             &msc SCRL_UP    &msc SCRL_RIGHT  &mmv MOVE_UP    &msc SCRL_LEFT   &none  &none
&none  &none         &none         &none         &none         &none         &none        &mkp LCLK  &mkp MB2      &trans  &none     &rgb_ug RGB_MEFS_CMD 5  &msc SCRL_DOWN  &mmv MOVE_LEFT   &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &none  &none
&none  &none         &none         &none         &macro_ver    &none                                 &none         &none                                     &none           &none            &none           &none            &none  &none
&none  &none         &none         &none         &none                       &mkp MB1     &mkp MB2   &none         &none   &mkp MB2  &mkp MB1                                &bl BL_INC       &bl BL_DEC      &none            &none  &none
            >;
        };

        Symbols {
            display-name = "Symbols";
            bindings = <
&trans           &kp GRAVE       &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp SEMICOLON     &kp COMMA     &trans                                                            &trans  &trans  &trans        &trans        &trans        &trans  &trans
&kp EXCLAMATION  &kp LEFT_BRACE  &kp SQT               &kp DOUBLE_QUOTES      &kp RIGHT_BRACE   &kp QUESTION  &trans                                                            &trans  &trans  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &trans  &trans
&kp HASH         &kp CARET       &kp EQUAL             &kp UNDERSCORE         &kp DOLLAR        &kp ASTERISK  &trans       &kp BACKSLASH  &kp PERIOD            &trans  &trans  &trans  &trans  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &trans  &trans
&kp TILDE        &kp LESS_THAN   &kp PIPE              &kp MINUS              &kp GREATER_THAN  &kp SLASH                                 &kp RS(ASTERISK)      &trans                  &trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans  &trans
&kp AT_SIGN      &kp AMPERSAND   &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp PLUS                        &kp PERCENT  &kp COLON      &kp SEMICOLON         &trans  &trans  &kp N0          &trans        &trans        &trans        &trans  &trans
            >;
        };
    };

    extra1 {
        display-name = "Extra";
        status = "reserved";
    };

    extra2 {
        display-name = "Extra";
        status = "reserved";
    };

    extra3 {
        display-name = "Extra";
        status = "reserved";
    };

    extra4 {
        display-name = "Extra";
        status = "reserved";
    };
};
